<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="icon" aria-hidden="false" aria-label="Home" 
      routerLink="/">home</mat-icon>
    <span class="center">Course Tracker</span>
    <span class="spacer"></span>
    <mat-icon class="icon" aria-hidden="false" aria-label="Add course"
      (click)="openAddDialog()">add</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<div class="course-container">
  <mat-card class="course-item" *ngFor="let course of courses; let i=index">
    <mat-card-header>
      <mat-card-title>
        {{ course.name }}
        <mat-icon class="modify" (click)="openModifyDialog(i)">settings</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>
        {{ formatDate(course.start_date) }} - {{ formatDate(course.end_date) }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button class="select-button" mat-flat-button color="primary" 
        (click)="onSelect(course.course_id)">Select</button>
    </mat-card-actions>
  </mat-card>
</div>