<h2 mat-dialog-title>New assignment</h2>

<form #f="ngForm">
  <mat-dialog-content>
    <!-- Form field for assignment name -->
    <mat-form-field class="input-form">
      <input matInput [(ngModel)]="newAssignment.name" name="name" 
        placeholder="Assignment name" required>
    </mat-form-field>
    <!-- Form field for assignment description -->
    <mat-form-field class="input-form">
      <input matInput [(ngModel)]="newAssignment.description" name="description" 
        placeholder="Description" required>
    </mat-form-field>
    <br>
  
    <!-- Form field for assignment creation date. Edit disabled -->
    <mat-form-field>
      <input matInput [disabled]="true" 
        [matDatepicker]="picker1" placeholder="Create date" [value]="date.value">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  
    <!-- Form field for assignment due date -->
    <mat-form-field>
      <input matInput [(ngModel)]="newAssignment.due_date" name="due_date" 
        [matDatepicker]="picker2" placeholder="Due date" [value]="" required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  
    <!-- Form field for assignment state -->
    <mat-form-field>
      <mat-label>State</mat-label>
      <mat-select [(ngModel)]="newAssignment.state" name="state" required>
        <mat-option *ngFor="let state of states" [value]="state.value">
          {{ state.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  
  <!-- Form actions -->
  <mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <!-- Return new data when create button is pressed -->
    <!-- Disabled if required fields not filled -->
    <button mat-button mat-raised-button color="primary" type="submit" 
      [disabled]="!f.valid" [mat-dialog-close]="newAssignment" cdkFocusInitial>Create</button>
  </mat-dialog-actions>
</form>
