@import '@angular/material/prebuilt-themes/indigo-pink.css';

.icon {
  padding: 0 14px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.center {
  text-align: center;
  width: 100%;
}

mat-form-field {
  margin-right: 12px;
}

mat-panel-title {
  font-weight: bolder;
}

.mat-card {
  max-width: 400px;
  flex: auto;
  border: 2px solid lightgray;
}

.mat-expansion-panel {
  margin: 5px;
  border: 2px solid lightgray;
}

body {
  margin: 0px;
}

.input-form {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
}