<h2 mat-dialog-title>{{ assignment.name }}</h2>

<mat-dialog-content>
  <!-- Form field for assignment description -->
  <mat-form-field class="input-form">
    <input matInput [(ngModel)]="assignment.desc" 
      placeholder="Description" value="{{ assignment.desc }}">
  </mat-form-field>
  <br>

  <!-- Form field for assignment creation date. Edit disabled -->
  <mat-form-field>
    <input matInput [disabled]="true" [matDatepicker]="picker1" 
      placeholder="Create date" [value]=convertDate(assignment.created_date)>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <!-- Form field for assignment due date -->
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" 
      placeholder="Due date" [value]=convertDate(assignment.due_date)>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <!-- Form field for assignment state -->
  <mat-form-field>
    <mat-label>State</mat-label>
    <mat-select [(value)]="assignment.state">
      <mat-option *ngFor="let state of states" [value]="assignment.state">
        {{ state.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()">Close</button>
  <!-- <button mat-button mat-raised-button color="primary" 
      [mat-dialog-close]="assignment" cdkFocusInitial>Save</button> -->
</mat-dialog-actions>
