<h2 mat-dialog-title>{{ modifiedAssignment.name }}</h2>

<mat-dialog-content>
  <!-- Form field for assignment description -->
  <mat-form-field class="input-form">
    <input matInput [(ngModel)]="modifiedAssignment.desc" placeholder="Description">
  </mat-form-field>
  <br>

  <!-- Form field for assignment creation date. Edit disabled -->
  <mat-form-field>
    <input matInput [(ngModel)]="modifiedAssignment.created_date" 
      [disabled]="true" [matDatepicker]="picker1" placeholder="Create date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <!-- Form field for assignment due date -->
  <mat-form-field>
    <input matInput [(ngModel)]="modifiedAssignment.due_date" 
      [matDatepicker]="picker2" placeholder="Due date">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <!-- Form field for assignment state -->
  <mat-form-field>
    <mat-label>State</mat-label>
    <mat-select [(ngModel)]="modifiedAssignment.state">
      <mat-option value="armed">armed</mat-option>
      <mat-option value="disarmed">disarmed</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()">Close</button>
  <button mat-button mat-raised-button color="primary" 
      [mat-dialog-close]="modifiedAssignment" cdkFocusInitial>Save</button>
</mat-dialog-actions>
